.buttons {
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  margin-right: 10px;
  opacity: 0.7;
  width: 80px;
}

.buttons:first-child {
  background-color: lime;
}

.buttons:nth-child(2) {
  background-color: orange;
}

.buttons:last-child {
  background-color: red;
}

.buttons:hover {
  opacity: 1;
  transform: scale(1.2);
}
